@font-face {
    font-family: 'Novecentosanswide-DemiBold';
    src: url('../fonts/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'),
         url('../fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentosanswide-Medium';
    src: url('../fonts/Novecentosanswide-Medium-webfont.woff2') format('woff2'),
         url('../fontsNovecentosanswide-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    list-style: none;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #333;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
.hidden {
    display: none;
}
.fade-in-on-load {
    opacity: 0;
}


.landing {
    overflow: hidden;
}
.landing .slide-full {
    display: flex;
    flex-direction: column;
}

/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
	z-index:100;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}

/* General Slides */ 

.slide{
	background-attachment: fixed;
    max-width: 1400px;
	height: 50vmin;
	position: relative;
	padding: 140px 0;
    margin: 0 auto;
}

.slide-full {
    background-attachment: fixed;
    max-width: 100vw;
	height: 100vh;
	position: relative;
}

#slide1 .img-circle {
    float: left;
    max-width: 20%;
    border-radius: 50%;
    margin-right: 50px;
    filter: grayscale();
    box-shadow: 2px 2px 7px #aaa; 
}


/* Slide 1 */ 

#slide1 {
    background-image: url('../images/sea.jpg');
    background-size: cover;
	background-color:#ffffff;
    display: flex;
    align-items: center;
}
#slide1 .container {
    margin-left: 10%;
    height: auto;
    display: flex;  
    align-items: center;
}
#slide1 h1 {
    font-family: 'Novecentosanswide-DemiBold', Helvetica, sans-serif;
    font-size: 3em;
    text-shadow: 2px 2px 7px #aaa; 
    margin: 0;
    line-height: 100%;
}
.landing #slide1 h1 {
    font-size: 3.8em;
}
#slide1 ul {
    font-family: 'Novecentosanswide-Medium', Helvetica, sans-serif;
    font-size: 1.75em;
    text-shadow: 2px 2px 7px #aaa;
    padding: 0;
    margin-top: 1em;
    display: inline-block;
}
.landing #slide1 ul {
    font-size: 2.25em;
}
#slide1 ul::after {
    content: "";
    display: block;
    clear: both;
}
#slide1 ul li {
    line-height: 1.3em;
    float: left;
    clear: left;
    padding: 2px;
    transition: color 0.4s ease-in-out,
                margin-left 0.4s ease-in-out;
}
#slide1 ul li:hover {
    margin-left: 10px;
    color: #d1175e;
}



/* Slide 2 */ 

#slide2 {
	background-image:url('../images/crossword.png');
    box-shadow: 0px 0px 30px -5px #555;
    z-index: 1;
    display: flex;
    align-items: center;
}
#slide2 .container {
    margin-left: 10%;
}
#slide2 h1 {
	font-family: 'Novecentosanswide-DemiBold', Helvetica, sans-serif;
    display: inline-block;
    font-size: 3em;
    text-shadow: 2px 2px 7px #aaa;
    line-height: 100%;
}
#slide2 p {
    font-size: 1.75em;
    font-family: 'Muli', sans-serif;
}




/* Slide 3 */ 

#slide3 {
    background-image: url('../images/sea.jpg');
    background-size: cover;
	background-color:#ffffff;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom: 20px;
	font-weight: 400;
}




/* Slide 4 */

#slide4 {
	background-image:url('../images/sunglasses.png');
	background-color:#8a8683;
	color:#ffffff;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

footer {
    width: 100%;
    height: 50px;
    color: darkgrey;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}
footer p {
    float: left;
    font-family: 'Muli', sans-serif;
    margin-left: 10%;
}
footer .space {
    flex: 1;
}
footer #icons {
    float: right;
    margin-right: 10%;
}
footer #icons i {
    transform: scale(0.9);
    margin-left: 8px;
    transition: color 0.3s ease-in-out,
                transform 0.3s cubic-bezier(.22, .64, .29, 2.3);
}
footer #icons i:hover {
    color: white;
    transform: scale(1.1);
}



/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




