@font-face {
    font-family: 'Novecentosanswide-DemiBold';
    src: url('../fonts/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'),
         url('../fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentosanswide-Medium';
    src: url('../fonts/Novecentosanswide-Medium-webfont.woff2') format('woff2'),
         url('../fontsNovecentosanswide-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}