$title-bold-font: 'Novecentosanswide-DemiBold', Helvetica, sans-serif;
$title-cursive-font: 'Lobster', cursive;
$title-medium-font: 'Novecentosanswide-Medium', Helvetica, sans-serif;
$content-font: 'Cabin', sans-serif;
$content-font2: 'Muli', sans-serif;

$grid-columns: 12;
$grid-max-width: 1200px;

$breakpoint-big: "only screen and (min-width: 1024px)";
$breakpoint-medium: "only screen and (min-width: 550px) and (max-width: 1023px)";

$laptop-width: 1024px;
$tablet-width: 600px;